/* Add CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add google font family 'Open Sans' for the whole body. */
body {
  font-family: "Open Sans", sans-serif;
}

/* Duplicate the nav section from the sample output. Make sure the nav position is sticky. */
nav {
  display: sticky;
  padding: 1rem;
  margin-bottom: 0.7rem;
  list-style-type: none;
}

nav .nav-logo {
  width: 20%;
  padding: 0 6.5rem;
  margin-top: 0.75rem;
}

nav ul li {
  display: inline-block;
}

nav .right-nav {
  float: right;
  padding-top: 0.5rem;
  padding-right: 10rem;
  font-size: 18px;
}

nav .right-nav .nav {
  margin: 0 1rem;
}

nav .right-nav button {
  background-color: #c2195b;
  color: white;
  font-weight: bold;
  padding: 1rem;
  font-size: 14px;
  border-radius: 24px;
  border: none;
}

/* Add a background image for the landing page. */
#bg-image {
  background: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: scroll;
}

/* Add a black background color and opacity in class front-bg. */
.front-bg {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 50vh;
  color: white;
  text-align: right;
  margin: 0;
  padding-right: 14rem;
}

/* Use the font-family 'Zilla Slab' for class title and title-2 */
.title,
.title-2 {
  font-family: "Zilla Slab";
}

.title {
  font-size: 3em;
  margin-left: 55%;
  margin-bottom: 2rem;
}

.subtitle {
  margin-left: 70%;
  text-align: right;
  font-weight: 400;
  margin-bottom: 1rem;
}

.apply-button {
  background-color: #c2195b;
  color: white;
  font-weight: bold;
  padding: 0.7rem 3rem;
  font-size: 18px;
  border-radius: 24px;
  border: none;
}

.intro {
  margin-top: 5rem;
}

.title-2 {
  font-size: 2em;
  text-align: center;
}

.intro-description {
  font-size: 18px;
  margin: 2.5rem 21.5rem;
}

/* Use the background-color: #f7fbfb for the pre-footer class.  */
.pre-footer {
  background-color: #f7fbfb;
  margin-top: 5rem;
}

.prefooter-description {
  font-size: 18px;
  margin: 2.5rem 21.5rem;
  text-align: center;
}

/* Use the background-color: #336589 for the book-button class. */
.book-button {
  background-color: #336589;
  color: white;
  font-weight: bold;
  padding: 0.7rem 3rem;
  font-size: 18px;
  border-radius: 24px;
  border: none;
  margin-left: 45%;
}

/* Add a footer and aligned it in the center. */
footer {
  margin-top: 1rem;
  font-size: 18px;
  text-align: center;
  padding: 1rem;
}

footer span {
  margin-right: 0.8rem;
}
